*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* este es el padre */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;

    background-color: blueviolet;
    border: 2px solid black;
    width: 600px;
    height: 500px;
}

/* estos son los hijos */
.box{
    width: 45%;
    /* para que el stretch y flex-start del container funcione tienes que quitar el height */
    height: 100px;
    background-color: orange;
    border: 3px solid black;
    border-radius: 5px;
}

/* alt + shift + a comentar */

/* Estilos header */

header {
  background-color: rgb(105, 173, 150);
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
main {
  display: flex;
  gap: 20px;
}
.main-content {
  width: 70%;
  height: 300px;
  background-color: cadetblue;
}
.statistics {
  width: 30%;
  height: 300px;
  background-color:aquamarine;
}