
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
}

.titulo{
    font-family: "Uncial Antiqua", cursive;
    font-size: 2rem;
    font-weight: 100;
    font-style: normal;
}

/* este es problematico */
/* p{
    background-color: #373737;
    text-align: center;
}
 */

.btn-box{
    text-align: center;
}

button{
    text-align: center;
    padding: 20px 50px;
    border-radius: 15px 0 15px 0;
    border: none;
}

#portada{
    text-align: center;
}

#portada img{
    border: 25px solid #ff0062;
    border-radius: 35px;
    padding: 20px;
    background-color: #a1d9d9;
    width: 300px;
}